---
import { getProducts } from "../utils/shopify";
import BaseLayout from "../layouts/BaseLayout.astro";
import Products from "../components/Products.astro";
import { setCache } from "../utils/cache";
import { updateConfigWithRuntimeEnv } from "../utils/config";

// Get runtime env from Cloudflare
if (Astro.request.cf) {
  updateConfigWithRuntimeEnv(Astro.locals.runtime.env);
}

const title = "Blank Accounts";
const headers = Astro.request.headers;
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const products = await getProducts({
  buyerIP: ip,
  collectionId: "gid://shopify/Collection/626638750019",
});

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div
    class="relative flex flex-col items-center justify-center gap-6 overflow-hidden py-8 md:py-16"
  >
    <h1 class="text-xl">Blank Accounts</h1>
  </div>
  <Products products={products} productName="blank accounts" />
</BaseLayout>
