---
import BaseLayout from "../layouts/BaseLayout.astro";
import { setCache } from "../utils/cache";
import CheckMark from "../components/CheckMark.astro";

const title = "High Karma Accounts";

const cards = [
  {
    title: "High Karma",
    description:
      "All accounts have the required karma to post in any subreddit",
  },
  {
    title: "Female Usernames",
    description:
      "Every account has a generic female username so it can be used by any model",
  },
  {
    title: "Aged",
    description:
      "You can post freely in any subreddit using our accounts due to their required age",
  },
  {
    title: "Email Included",
    description:
      "Each account includes the original email it was created and verified with",
  },
  {
    title: "Email Verified",
    description: "All Reddit accounts we provide are email-verified",
  },
  {
    title: "US-IP Address",
    description:
      "We created and farmed our Reddit accounts on IP addresses based in the US",
  },
];

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div
    class="relative flex flex-col items-center justify-center gap-6 overflow-hidden py-16 md:py-32"
  >
    <img
      src="/images/cute_gyal_bby.png"
      alt="Cute Gyal Baby avatar"
      class="absolute -left-4 top-0 w-12 rotate-45 md:-left-8 md:top-4 md:w-32"
    />
    <img
      src="/images/little_sweetiepie.png"
      alt="Little Sweetie Pie avatar"
      class="absolute -right-8 bottom-0 hidden w-28 -rotate-45 scale-x-[-1] lg:block"
    />
    <h1 class="text-4xl font-bold">
      Welcome to <span class="font-bold"
        ><span class="mr-1 rounded-md bg-red-500 px-2 py-1 pr-1 text-white">
          Redd
        </span>Accounts
      </span>
    </h1>
    <p class="text-xl">
      The most <strong>affordable</strong> and <strong>highest quality</strong> place
      for <strong>Reddit</strong> accounts
    </p>
    <a
      href="/high-karma-accounts"
      class="flex items-center gap-2 rounded-md border border-red-500 bg-white px-4 py-2 text-black shadow-md transition-all hover:bg-red-500 hover:text-white hover:shadow-xl"
      >See Accounts <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
      </svg>
    </a>
  </div>
  <div
    class="my-12 grid grid-cols-1 gap-6 bg-gray-50 px-4 py-16 text-white md:grid-cols-3"
  >
    {
      cards.map((card) => (
        <div class="my-2 rounded-md bg-white p-6 text-black shadow-md">
          <h2 class="flex items-center gap-2 text-2xl font-bold">
            <span class="text-red-500">
              <CheckMark />
            </span>
            {card.title}
          </h2>
          <hr class="my-4" />
          <p class="text-xl">{card.description}</p>
        </div>
      ))
    }
  </div>
</BaseLayout>
