---
import BaseLayout from "../layouts/BaseLayout.astro";
import { setCache } from "../utils/cache";

const title = "High Karma Accounts";

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div
    class="relative flex flex-col items-center justify-center gap-6 py-16 md:py-32"
  >
    <img
      src="/images/cute_gyal_bby.png"
      alt="Cute Gyal Baby avatar"
      class="absolute -left-4 top-0 w-12 rotate-45 md:-left-8 md:top-4 md:w-32"
    />
    <img
      src="/images/little_sweetiepie.png"
      alt="Little Sweetie Pie avatar"
      class="absolute -right-8 bottom-0 hidden w-28 -rotate-45 scale-x-[-1] lg:block"
    />
    <h1 class="text-4xl font-bold">
      Welcome to <span class="font-bold"
        ><span class="mr-1 rounded-md bg-red-500 px-2 py-1 pr-1 text-white">
          Redd
        </span>Accounts
      </span>
    </h1>
    <p class="text-xl">
      The most <strong>affordable</strong> and <strong>highest quality</strong> place
      for <strong>Reddit</strong> accounts
    </p>
    <a
      href="/high-karma-accounts"
      class="rounded-md border border-red-500 bg-white px-4 py-2 text-black shadow-md transition-all hover:bg-red-500 hover:text-white hover:shadow-xl"
      >See Accounts</a
    >
  </div>
</BaseLayout>
