---
import BaseLayout from "../layouts/BaseLayout.astro";
import { setCache } from "../utils/cache";

const title = "High Karma Accounts";

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div class="flex flex-col items-center justify-center gap-6 py-16">
    <h1 class="text-4xl font-bold">
      Welcome to <span class="font-bold"
        ><span class="mr-1 rounded-md bg-red-500 px-2 py-1 pr-1 text-white">
          Redd
        </span>Accounts
      </span>
    </h1>
    <p class="text-xl">
      The most <strong>affordable</strong> and <strong>highest quality</strong> place
      for <strong>Reddit</strong> accounts
    </p>
  </div>
</BaseLayout>
