<div
  class="sticky bottom-0 z-50 flex items-center justify-center bg-[#FF4500] px-4 py-2 text-sm font-bold text-white sm:px-6 lg:px-8"
>
  <a href="/contact">Become an affiliate and earn 15% of each sale</a>
</div>
