---
import Logo from "./Logo.astro";
---

<footer class="bg-white" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-24">
      <div class="space-y-8">
        <Logo />
        <p class="text-sm leading-6 text-gray-600">
          The most affordable and highest quality place for Reddit accounts
        </p>
        <div class="flex space-x-6">
          <a
            href="https://t.me/ReddAcctsChannel"
            class="text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">Telegram</span>
            <img
              src="/images/telegram_icon.png"
              alt="Telegram logo"
              class="size-6"
            />
          </a>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-3 gap-8 xl:col-span-2 xl:mt-0">
        <div>
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Pages</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/high-karma-accounts"
                class="hover:text-gray-9000 text-sm leading-6 text-gray-600"
                >High Karma Accounts</a
              >
            </li>
            <li>
              <a
                href="/blank-accounts"
                class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                >Blank Accounts</a
              >
            </li>
          </ul>
        </div>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Contact</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a
                href="/contact"
                class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                >Contact page</a
              >
            </li>
            <li>
              <a
                href="https://t.me/ReddAcctsSupport"
                class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                >Telegram</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mt-16 border-t border-gray-900/10 py-6 pt-8 text-center sm:mt-20 lg:mt-24"
  >
    <p class="text-xs leading-5 text-gray-500">
      Design by <a
        class="text-[#FF5701] hover:underline"
        href="https://leetsoftware.com">Leet Software</a
      >
    </p>
    <p class="text-xs leading-5 text-gray-500">
      &copy; 2024 Reddaccounts SRL. All rights reserved.
    </p>
  </div>
</footer>
