---
import type { z } from "zod";
import type { ProductResult } from "../utils/schemas";

import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: z.infer<typeof ProductResult>;
}
const { product } = Astro.props as Props;
---

<a
  href={`/products/${product?.handle}`}
  class="group overflow-hidden rounded-lg border-l-orange-100 shadow hover:shadow-md"
>
  <div class="relative">
    <ShopifyImage
      classList=""
      loading="eager"
      image={product?.featuredImage}
      sizes={`
      (min-width: 1540px) 348px,
      (min-width: 1280px) 284px,
      (min-width: 1040px) 309px,
      (min-width: 780px) 348px,
      (min-width: 640px) 284px,
      calc(100vw - 48px)
    `}
    />
    <div
      class="absolute inset-0 z-10 grid items-end justify-items-center opacity-0 transition-all group-hover:bg-black/10 group-hover:opacity-100"
    >
      <button
        class="flex w-full gap-3 rounded-none bg-[#FF5701] px-4 py-2 text-white"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </span>
        Buy now
      </button>
    </div>
  </div>
  <div class="flex justify-between px-5 py-6 text-zinc-700">
    <h3 class="group-hover:underline">{product?.title}</h3>
    <p class="font-bold">
      <Money price={product?.variants.nodes[0].price} />
    </p>
  </div>
</a>
